fluxos/Mensagem WhatsApp.json
{
  "name": "Mensagem WhatsApp",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.twilio.com/2010-04-01/Accounts/AC7d8426362785b5eb50c0ec66cfc7de1e/Messages.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "From",
              "value": "whatsapp:+14155238886"
            },
            {
              "name": "To",
              "value": "={{'whatsapp:' + $json.telefone}}"
            },
            {
              "name": "Body",
              "value": "={{'Olá ' + $json.nome + ', sua tarefa está pendente. Bora finalizar!'}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -432,
        -464
      ],
      "id": "0e6074ba-44a6-459a-963a-7635e0063932",
      "name": "Mensage_WhatsApp",
      "credentials": {
        "httpBasicAuth": {
          "id": "C7Dix1AIE4v4f6Kw",
          "name": "Unnamed credential 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [\n  { json: { nome: \"Jackson\", telefone: \"+558391819633\" } },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -736,
        -464
      ],
      "id": "ed8d60e6-284b-4dad-889d-7fa009382a58",
      "name": "Gerar_Contatos"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1072,
        -464
      ],
      "id": "1c7be504-fe4f-4f2b-80e7-821f4f24b46c",
      "name": "When clicking ‘Execute workflow’"
    }
  ],
  "pinData": {},
  "connections": {
    "Mensage_WhatsApp": {
      "main": [
        []
      ]
    },
    "Gerar_Contatos": {
      "main": [
        [
          {
            "node": "Mensage_WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Gerar_Contatos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4371f8b3-a585-4078-9ab3-ec855145cf78",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "22f15dcadfc214cb541e82214dedf29cbec2f3316beaa8bd57af4444f35493c6"
  },
  "id": "DlX7sR8xXV7sJXLm",
  "tags": []
}